/*
 * Mobile CSS
 */

	/* reset some styles */
		header {
			position:static;
			padding:15px;
		}

		header h1,
		header #say, 
		header #volume,
		header a#stop {
			margin:0 0 10px 0;
			float:none;
			padding:0;
		}
		
		header #say input.text {
			width:7em;
		}
		
		header #volume, 
		header #volume ul {
			width:auto;
			padding:0;
			float:none;
		}
			
		#content {
			clear:both;
			padding:15px;
			margin:0;
		}
		
		#content .folder-container {
			position:static;
			padding-top:0;
			margin-bottom:0;			
		}
		
		header form#play-method,
		#keys {
			display:none;
		}
		
	/*  */